<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">MJML Support für Template Mail</label>
    <label lang="en">MJML Support for Template Mail</label>
    <version>1.1.2</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://friendsofshopware.github.io/</link>
    <author>Friends of Shopware</author>
    <compatibility minVersion="5.4.0"/>
    <description lang="en">MJML Support for Template Mail</description>
    <description lang="de">MJML Support für Template Mail</description>

    <requiredPlugins>
        <requiredPlugin pluginName="FroshTemplateMail" minVersion="1.0.1"/>
    </requiredPlugins>

    <changelog version="1.1.2">
        <changes lang="en">Fix compability to PHP 5.6</changes>
        <changes lang="de">Kompatiblität zu PHP 5.6 hergestellt</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="en">Initial Release</changes>
        <changes lang="de">Erster Release</changes>
    </changelog>
</plugin>
